.slidearea{
	width: 100%;

	.container{
		width: 100% !important;
	}	
	
	.bx-wrapper{
		margin-bottom: 0;
	}

	.bx-has-pager{
		position: relative;
		top:-50px;
	}

	.bx-pager{
		position: relative;
		top:-10px;
		background-color: $blue;
		padding-top:7px;
		width: 100px;
		margin:0 auto;
	}
}
