@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@font-face {
  font-family: "Brandon Bold";
  src: url('../fonts/brandon_bld-webfont.woff') format('woff'), url('../fonts/brandon_bld-webfont.ttf') format('truetype'), url('../fonts/brandon_bld-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: "Brandon Regular";
  src: url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.eot') format('embedded-opentype');
}

$orange : #f47f62;
$gray : #e5e3da;
$blue : #25bfd0;

textarea {
    resize: none;
}

.bold{
  font-weight: bold;
}
.blue{
  color:$blue !important;
}


.lead{
  font-family: "Raleway";
  font-size: 25px;
  font-weight: bold;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
  background-color: darken($gray,20%);
}

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
  background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
  background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  border-color: #b2dba1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
}

.alert-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
  background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #b9def0, 100%);
  background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  border-color: #9acfea;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
}

.alert-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
  background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #f8efc0, 100%);
  background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  border-color: #f5e79e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
}

.alert-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  border-color: #dca7a7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
}

body{padding:0;margin:0;background:url('../img/topbar_bg.png') repeat-x 50% 0 #fffefe;}

#pageContent, .wide-bg, #push{
  background-color: $gray !important;
}

img[alt='logo-recorrente']{
  margin-left:-5px;
}

.loader{
  margin-left: 43%;
  margin-top:40px;
  i{
  }
}

.wraplogo{
  margin-top:10px;
}

.riomais-toolbar{height:60px;background:url(../img/topbar_triangle.png) 12px 45px no-repeat; margin-left: 15%;}

.riomais-toolbar > div{margin:10px 0 0;}.riomais-toolbar > div a{display:block;text-indent:-9999px;height:25px;}

.riomais-toolbar #logo-benfeitoria{width:130px;float:left;}

.riomais-toolbar #logo-benfeitoria a{width:115px;background:url(../img/benfeitoria.png) 0 5px no-repeat;}

.riomais-toolbar #slogan{border-left:1px solid #fff;padding-left:10px;float:left;line-height:25px;color:#fff;font-family:'Brandon Regular';font-size:1.2em;}


.form-group {float:left; width:150px; }

.form-control { width:140px;}

.view {display:none}


.page-header p {
  font-size:20px;
}


#carouselProjectsControlLeft {margin-left: -15px; color: black;}
#carouselProjectsControlRight {margin-right: -15px; color: black;}
